@import url('./recipes-modal.css');

.recipes-container {
  min-width: 280px;
  max-width: 335px;
}

.recipes-card {
  width: 100%;
  height: 335px;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-wrap: wrap;
  border-radius: 15px;
  padding: 214px 16px 16px;
  position: relative;
}

.wrapper-card {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  width: inherit;
}

.recipes-icon-heart {
  position: absolute;
  top: 16px;
  right: 16px;
  fill: none;
  cursor: pointer;
}

.recipes-icon-svg {
  fill: var(--main-text-light-color);
  opacity: 0.1;
}

.heart-active {
  fill: var(--main-text-light-color);
  opacity: 1;
}

.recipes-title {
  font-weight: 600;
  margin-bottom: 8px;
  color: var(--main-text-light-color);
}

.recipes-text {
  font-size: 12px;
  line-height: 1.33;
  color: var(--main-text-light-color);
  margin-bottom: 16px;
}

.recipes-text-rating {
  font-weight: 500;
  color: var(--main-text-light-color);
  margin-right: 4px;
}

.button-recipes {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.2;
  color: var(--main-text-light-color);
  background-color: var(--brand-color);
  border-radius: 8px;
  padding: 8px 14px;
  margin-left: auto;
  min-width: 89px;
  transition: color var(--transition-timings);
}

.button-recipes:focus,
.button-recipes:hover {
  color: var(--main-text-dark-color);
}

.rating-wraper {
  display: flex;
  margin-left: auto;
}

.rating {
  display: flex;
  align-items: center;
  font-size: 23px;
  line-height: 0.75;
}

.rating-body {
  position: relative;
}

.rating-active {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

.rating-active::before {
  display: block;
  content: '★★★★★';
  width: 0%;
  height: 100%;
  top: 0;
  left: 0;
  color: rgb(255, 215, 0);
}

.rating-body::before {
  display: block;
  content: '★★★★★';
  opacity: 0.4;
  color: var(--main-text-light-color);
}

.rating-items {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.rating-item {
  flex: 0 0 17%;
  height: 100%;
  opacity: 0;
}

.rating-value {
  margin-right: 2px;
  font-size: 12px;
  color: var(--main-text-light-color);
}

@media screen and (width >= 768px) {
  .recipes-container {
    width: 496px;
  }

  .recipes-card {
    width: 240px;
    height: 264px;
    padding-top: 143px;
  }

  .wrapper-card {
    gap: 16px;
  }

  .rating {
    font-size: 16px;
  }
}

@media screen and (width >=1280px) {
  .recipes-container {
    width: 782px;
  }

  .recipes-card {
    width: 250px;
    height: 287px;
    padding-top: 166px;
  }

  .wrapper-card {
    gap: 32px 16px;
  }
}
