<section class="header">
  <div class="header-container container">
    <nav class="header-nav">
      <ul class="header-refs">
        <li class="header-list">
          <a class="header-ref active" rel="noreferrer noopener" href="./index.html">Home</a>
        </li>
        <li class="header-list">
          <a class="header-ref" rel="noreferrer noopener" href="./favorites.html">Favorites</a>
        </li>
      </ul>


    </nav>

    <a class="header-tastytreats active" href="./index.html"><span class="header-tasty">tasty</span>treats.</a>

    <div class="header-buttons">

      <button class="header-btn-shopping-cart js-shopping-cart" type="button">
        <svg class="svg-shopping-cart" width="24" height="24">
          <use href="./img/icons.svg#icon-cart"></use>
        </svg>
      </button>

      <button class="header-btn-burger-menu js-shopping-cart" type="button">
        <svg class="svg-burger-menu" width="32" height="32">
          <use href="./img/icons.svg#icon-burger-menu"></use>
        </svg>
      </button>



      <label class="switch">
        <input type="checkbox">
        <span class="slider round"></span>
      </label>

    </div>

  </div>

</section>