<section class="hero-section">
  <div class="hero-container container">
    <div class="hero-info">
      <h1 class="hero-title">Learn to Cook <i>Tasty Treats'</i> Customizable Masterclass</h1>
      <p class="hero-desc">TastyTreats - Customize Your Meal with Ingredient Options and Step-by-Step Video Guides.</p>
      <button type="button" class="hero-order-btn">Order now</button>
    </div>
    <div class="splide hero-swiper" aria-labelledby="Hero-images-carousel">
      <div class="splide__track">
        <ul class="splide__list cards-list">
          <li class="splide__slide coooker-card"></li>
          <li class="splide__slide topic-card">
            <div class="card"></div>
            <h2 class="card-title">Grilled, smoky, delicious barbecue</h2>
            <p class="card-area">Spanish</p>
          </li>
          <li class="splide__slide dish-card"></li>
          <li class="splide__slide coooker-card"></li>
          <li class="splide__slide topic-card">
            <div class="card"></div>
            <h2 class="card-title">Hot, cheesy and satisfying pizza</h2>
            <p class="card-area">Italian</p>
          </li>
          <li class="splide__slide dish-card"></li>
          <li class="splide__slide coooker-card"></li>
          <li class="splide__slide topic-card">
            <div class="card"></div>
            <h2 class="card-title">Grilled, smoky, delicious barbecue</h2>
            <p class="card-area">Spanish</p>
          </li>
          <li class="splide__slide dish-card"></li>
        </ul>
      </div>
    </div>
  </div>
</section>
