<section class="hero-section">
  <div class="hero-container">
    <div class="wrapper">
      <div class="hero-info">
        <h1 class="hero-title">Learn to Cook <i>Tasty Treats'</i> Customizable Masterclass</h1>
        <p class="hero-desc">
          TastyTreats - Customize Your Meal with Ingredient Options and Step-by-Step Video Guides.
        </p>
        <button type="button" class="hero-order-btn">Order now</button>
      </div>
      <div class="swiper">
        <ul class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="slide">
              <li class="cooker-heston-card cooker-card"></li>
              <li class="topic-card">
                <div class="barbecue-card card"></div>
                <h2 class="card-title">Grilled, smoky, delicious barbecue</h2>
                <p class="card-area">Spanish</p>
              </li>
              <li class="barbecue-dish dish-card"></li>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="slide">
              <li class="cooker-anna-card cooker-card"></li>
              <li class="topic-card">
                <div class="pizza-card card"></div>
                <h2 class="card-title pizza-title">Hot, cheesy and satisfying pizza</h2>
                <p class="card-area">Italian</p>
              </li>
              <li class="pizza-dish dish-card"></li>
            </div>
          </div>
          <div class="swiper-slide" data-swiper-autoplay="2000">
            <div class="slide">
              <li class="cooker-ferran-card cooker-card"></li>
              <li class="topic-card">
                <div class="pancakes-card card"></div>
                <h2 class="card-title">Fluffy and sweet pancakes</h2>
                <p class="card-area">American</p>
              </li>
              <li class="pancakes-dish dish-card"></li>
            </div>
          </div>
        </ul>
      </div>

      <dialog id="ordernow" class="modal">
        <div class="modal-container order-modal">
          <p class="order">Order now</p>
          <button class="btn-close">
            <svg width="20" height="20" class="btn-close-icon">
              <use href="./img/icons.svg#icon-btn-close"></use>
            </svg>
          </button>
          <form id="order-form" novalidate="novalidate">
            <label class="modal-label">
              Name
              <input type="text" name="name" class="modal-input" id="name-input" autocomplete="on" />
            </label>
            <label class="modal-label">
              Phone number
              <input type="text" name="phone" class="modal-input" id="phone-input" autocomplete="on" />
            </label>
            <label class="modal-label">
              Email
              <input type="text" name="email" class="modal-input" id="email-input" autocomplete="on" />
            </label>
            <label class="modal-label">
              Comment
              <textarea name="comment" class="comment-input"></textarea>
            </label>
            <button type="submit" class="modal-order-send">Send</button>
          </form>
        </div>
      </dialog>
    </div>
    <div class="pages-pagination"></div>
  </div>
</section>
