<div class="container">
   <ul class="pagination">
      <div class="pag-nav pag-nav-start">
         <li class="pag-nav-item"><button class="pag-nav-btn disabled" type="button">
               <svg class="pag-nav-arrow pag-nav-arrow1" width="24" height="24">
                  <use href="../img/icons.svg#icon-arrow-left"></use>
               </svg><svg class="pag-nav-arrow pag-nav-arrow2" width="24" height="24">
                  <use href="../img/icons.svg#icon-arrow-left"></use>
               </svg></button>
         </li>
         <li class="pag-nav-item"><button class="pag-nav-btn disabled" type="button"><svg class="pag-nav-arrow"
                  width="24" height="24">
                  <use href="../img/icons.svg#icon-arrow-left"></use>
               </svg></button>
         </li>
      </div>
      <div class="pag-wrapper">
         <li class="pag-item pag-item-span hide"><span class="pag-span">...</span></li>
         <li class="pag-item"><button class="pag-btn" type="button">1</button></li>
         <li class="pag-item"><button class="pag-btn active" type="button">2</button></li>
         <li class="pag-item pag-item-third"><button class="pag-btn" type="button">3</button></li>
         <li class="pag-item pag-item-span "><span class="pag-span">...</span></li>
      </div>
      <div class="pag-nav pag-nav-end">
         <li class="pag-nav-item"><button class="pag-nav-btn" type="button">
               <svg class="pag-nav-arrow" width="24" height="24">
                  <use href="../img/icons.svg#icon-arrow-right"></use>
               </svg></button></li>
         <li class="pag-nav-item"><button class="pag-nav-btn" type="button">
               <svg class="pag-nav-arrow pag-nav-arrow1" width="24" height="24">
                  <use href="../img/icons.svg#icon-arrow-right"></use>
               </svg><svg class="pag-nav-arrow pag-nav-arrow2" width="24" height="24">
                  <use href="../img/icons.svg#icon-arrow-right"></use>
               </svg></button></li>
      </div>
   </ul>
</div>