.categories-btn {
  margin-top: 26px;
  color: var(--filters-main-color);
  font-size: 18px;
  font-weight: 500;
  display: inline-flex;
  padding: 14px 28px;
  justify-content: center;
  gap: 10px;
  border-radius: 15px;
  border: 1px solid var(--filters-secondary-color);
}

.categories-btn:hover,
.categories-btn:focus {
  color: var(--main-text-light-color);
  background: var(--brand-color);
  border-color: var(--brand-color);
  box-shadow: none;
  transition: var(--transition-timings);
}

.style-container {
  margin-top: 42px;
}

.categories-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 176px;
  height: 416px;
  overflow-y: scroll;
}

.style-container::-webkit-scrollbar {
  width: 8px;
}

.style-container::-webkit-scrollbar-track {
  background-color: var(--main-text-light-color);
}

.style-container::-webkit-scrollbar-thumb {
  border-radius: 12px;
  background: var(--filters-secondary-color);
}

.item-btn {
  color: var(--filters-secondary-color);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

.item-btn:hover {
  color: var(--brand-color);
}
