.body-dark {
  color: var(--dark-main-text-color);
  background-color: var(--dark-bg-color);
}

.header-tastytreats-dark {
  color: var(--dark-main-text-color);
}

.header-ref-dark {
  color: var(--dark-main-text-color);
}

.svg-shopping-cart-dark path {
  stroke: var(--dark-main-text-color);
}

.hero-order-btn-dark {
  color: var(--dark-main-text-color);
}

.categories-btn-dark {
  color: var(--dark-filters-main-color);
  border: 1px solid var(--dark-filters-secondary-color);
}

.modal-input-dark {
  border: 1px solid var(--dark-filters-main-color);
  color: var(--dark-filters-main-color);
  background-color: var(--fixex-black);
}

.modal-input-dark ::placeholder {
  color: var(--dark-filters-main-color);
  background-color: var(--fixex-black);
}

.slider-dark {
  box-shadow: none;
}
