.favorites-main-picture {
  display: block;
  margin-block-end: 40px;
}

@media only screen and (width >= 768px) {
  .favorites-main-picture {
    margin-block-end: 64px;
  }
}

.favorites-filters-list {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.favorites-filters-btn {
  padding: 14px 18px;
  border-radius: 15px;
  border: 1px solid var(--secondary-hero-img-color);
  color: var(--filters-secondary-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.25;
}

.favorites-filters-btn:hover,
.favorites-filters-btn:focus {
  background-color: var(--brand-color);
  color: var(--main-text-light-color);
}

.kitchen-hat {
  display: block;
  margin: 0 auto 24px;
}

.no-favarits {
  width: 335px;
  color: var(-main-text-dark-color);
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;
  margin: 0 auto;
}

.js-hidden {
  display: none;
}
