.filters-container {
  padding-left: 16px;
  padding-right: 16px;
  flex-basis: 70%;
}

.input-filters,
.select-time,
.select-area,
.select-ingredients {
  border: 1px solid var(--ingridients-main-border-color);
  border-radius: 15px;
  font-size: 14px;
  color: var(--filters-main-color);
  padding: 14px 18px;
  background-color: transparent;
}

@media screen and (width >= 768px) {
  .filters-container {
    padding-left: 0;
  }

  .filters-list {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 14px;
  }

  .filters-item {
    display: flex;
    flex-direction: column;
  }

  .label {
    margin-bottom: 8px;
    font-size: 12px;
    color: var(--filters-main-color);
  }

  .input-filters::placeholder,
  .select-time::placeholder,
  .select-area::placeholder,
  .select-ingredients::placeholder {
    color: var(--filters-main-color);
  }

  .input-container {
    position: relative;
    width: 335px;
  }

  .filters-icon {
    position: absolute;
    top: 50%;
    left: 18px;
    transform: translateY(-50%);
    width: 18px;
    height: 18px;
    fill: var(--filters-main-color);
  }

  .input-filters {
    padding-left: 48px;
    width: 100%;
  }

  .select-ingredients {
    width: 188px;
  }

  .select-time,
  .select-area {
    width: 160px;
  }

  .first {
    flex-basis: 100%;
  }

  .second,
  .third {
    flex-basis: 25%;
  }

  .fourth {
    flex-basis: 100%;
  }

  .filters-form {
    margin-bottom: 32px;
  }

  .select-time {
    width: 125px;
  }

  .select-area {
    width: 141px;
  }

  .first,
  .second {
    flex-basis: 30%;
  }

  .third,
  .fourth {
    flex-basis: 30%;
    clear: both;
  }

  .input-filters,
  .select-time,
  .select-area,
  .select-ingredients {
    font-size: 16px;
  }
}

@media screen and (width >= 1280px) {
  .filters-list {
    flex-flow: row;
    flex-wrap: nowrap;
  }

  .first,
  .second,
  .third,
  .fourth {
    flex-basis: auto;
  }
}

.svg-icon-clean-button {
  color: var(--filters-main-color);
}

.clear-button {
  display: flex;
  align-items: center;
  border: none;
  background: none;
  padding: 4px 0;
  margin-left: auto;
  color: var(--filters-main-color);
  font-size: 12px;
}

.reset-filter {
  margin: 10px 0;
}

.clear-button:hover {
  text-shadow: 0 4px 4px var(--ingridients-main-border-color);
}

.svg-button-click {
  fill: var(--brand-color);
  margin-right: 4px;
}
