.filters-container {
  padding-left: 16px;
  padding-right: 16px;
  flex-basis: 70%;
}

.filters-form {
  margin-bottom: 24px;
}

.filters-list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 14px;
}

.filters-item {
  display: flex;
  flex-direction: column;
}

.label {
  margin-bottom: 8px;
  font-size: 12px;
  color: var(--main-text-dark-color);
}

.input-filters,
.select-time,
.select-area,
.select-ingredients {
  border: 1px solid rgba(5, 5, 5, 20%);
  border-radius: 15px;
  font-size: 14px;
  color: var(--main-text-dark-color);
  padding: 14px 18px;
  background-color: transparent;
}

.input-filters::placeholder,
.select-time::placeholder,
.select-area::placeholder,
.select-ingredients::placeholder {
  color: var(--main-text-dark-color);
}

.input-container {
  position: relative;
  width: 335px;
}

.filters-icon {
  position: absolute;
  top: 50%;
  left: 18px;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  fill: rgba(5, 5, 5, 50%);
}

.input-filters {
  padding-left: 48px;
  width: 100%;
}

.select-ingredients {
  width: 188px;
}

.select-time,
.select-area {
  width: 160px;
}

.first {
  flex-basis: 100%;
}

.second,
.third {
  flex-basis: 25%;
}

.fourth {
  flex-basis: 100%;
}

@media screen and (width >= 768px) {
  .filters-container {
    margin-top: 80px;
    padding-left: 0;
  }

  .filters-form {
    margin-bottom: 32px;
  }

  .filters-list {
    gap: 16px;
    flex-wrap: wrap;
  }

  .label {
    font-size: 14px;
  }

  .input-container {
    width: 278px;
  }

  .select-time {
    width: 125px;
  }

  .select-area {
    width: 141px;
  }

  .first,
  .second {
    flex-basis: 30%;
  }

  .third,
  .fourth {
    flex-basis: 30%;
    clear: both;
  }

  .input-filters,
  .select-time,
  .select-area,
  .select-ingredients {
    font-size: 16px;
  }
}

@media screen and (width >= 1280px) {
  .filters-container {
    margin-top: 100px;
  }

  .filters-list {
    flex-flow: row;
    flex-wrap: nowrap;
  }

  .first,
  .second,
  .third,
  .fourth {
    flex-basis: auto;
  }
}
