.filters-container {
  margin-bottom: 14px;
}

.filters-list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 14px;
}

.filters-item {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.label {
  font-size: 12px;
  line-height: 1.16;
  color: var(--filters-main-color);
}

.input-container {
  position: relative;
  width: 335px;
}

.filters-icon {
  position: absolute;
  top: 50%;
  left: 18px;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  fill: var(--filters-main-color);
}

.select {
  border: 1px solid var(--ingridients-main-border-color);
  border-radius: 15px;
  line-height: 1.28;
  color: var(--filters-main-color);
  padding: 14px 18px;
  appearance: none;
}

.input-filters {
  width: 100%;
  padding: 14px 18px 14px 48px;
}

.select::placeholder {
  color: var(--filters-main-color);
}

.input-wrapper {
  position: relative;
}

.select-icon {
  position: absolute;
  top: 15px;
  right: 18px;
  fill: none;
  stroke: var(--filters-main-color);
}

.select-time {
  width: 160px;
}

.select-area {
  width: 160px;
}

.select-ingredients {
  width: 188px;
}

.svg-icon-clean-button {
  color: var(--filters-main-color);
}

.clear-button {
  display: flex;
  align-items: center;
  border: none;
  background: none;
  padding: 4px 0;
  margin-left: auto;
  color: var(--filters-main-color);
  font-size: 12px;
  line-height: 1.33;
  transition: var(--transition-timings);
}

.reset-filter {
  margin-bottom: 20px;
}

.clear-button:hover {
  text-shadow: 0 4px 4px var(--ingridients-main-border-color);
}

.svg-button-click {
  fill: var(--brand-color);
  margin-right: 4px;
}

@media screen and (width >= 768px) {
  .filters-list {
    gap: 16px;
  }

  .label {
    font-size: 14px;
    line-height: 1.28;
  }

  .input-container {
    width: 278px;
  }

  .select {
    font-size: 16px;
    line-height: 1.25;
  }

  .select-icon {
    top: 15px;
    right: 18px;
  }

  .select-time {
    width: 125px;
  }

  .select-area {
    width: 141px;
  }

  .reset-filter {
    margin-bottom: 0;
  }
}

@media screen and (width >= 1280px) {
  .clear-button {
    margin-left: 680px;
  }
}
