@font-face {
  font-family: 'Inter';
  font-weight: 600;
  font-display: swap;
  src: local('Inter'), url('../fonts/Inter-SemiBold.woff2') format('woff2');
}
@font-face {
  font-family: 'Inter';
  font-weight: 500;
  font-display: swap;
  src: local('Inter'), url('../fonts/Inter-Medium.woff2') format('woff2');
}
@font-face {
  font-family: 'Inter';
  font-weight: 400;
  font-display: swap;
  src: local('Inter'), url('../fonts/Inter-Regular.woff2') format('woff2');
}
