.header {
  padding-top: 30px;
}

.header-nav {
  display: none;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-modal-item {
  color: var(--main-text-light-color);
  font-size: 12px;
  font-weight: 400;
}

.header-modal-item:is(:hover, :focus) {
  color: var(--dark-main-text-color);
  font-weight: 500;
}

.header-tastytreats {
  color: var(--main-text-dark-color);
  font-family: inherit;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: -0.64px;
}

.header-tasty {
  color: var(--brand-color);
}

.header-buttons {
  display: flex;
  gap: 18px;
  align-items: center;
}

.header-btn-shopping-cart {
  color: var(--brand-color);
  fill-opacity: 0.5;
}

.svg-shopping-cart {
  fill: var(--main-text-light-color);
  transition: var(--transition-timings);
}

.svg-shopping-cart:hover {
  fill: currentcolor;
  stroke: currentcolor;
}

.svg-shopping-cart:is(:hover, :focus) {
  fill: var(--brand-color);
  stroke: currentcolor;
}

.header-btn-burger-menu {
  fill: currentcolor;
  stroke: currentcolor;
}

.switch {
  display: none;
  position: relative;
  width: 46px;
  height: 20px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  inset: 0;
  background-color: var(--switcher-color);
  transition: 0.4s;
}

.slider::before {
  position: absolute;
  content: '';
  height: 18px;
  width: 18px;
  left: 1px;
  bottom: 1px;
  background-color: var(--main-text-light-color);
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--brand-color);
}

input:checked + .slider::before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round::before {
  border-radius: 50%;
}

.display-none {
  display: none;
}

.header-modal {
  position: fixed;
  z-index: 99;
  inset: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: var(--brand-color);
}

.header-btn-close {
  position: absolute;
  top: 20px;
  right: 20px;
}

.svg-btn-close {
  stroke: var(--main-text-light-color);
}

.header-modal-list {
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.switch-modal {
  display: inline-block;
  z-index: 999;
  position: absolute;
  bottom: 20px;
  left: 20px;
}

@media only screen and (width >= 768px) {
  .header-tastytreats {
    font-size: 18px;
    line-height: 20px;
    letter-spacing: -0.72px;
  }

  .slider {
    box-shadow: 10px 6px 8px var(--switcher-color);
  }

  input:checked + .slider::before {
    transform: translateX(26px);
    box-shadow: 6px 6px 14px var(--main-hero-img-color);
  }

  .switch {
    display: inline-block;
  }

  .header-nav {
    display: flex;
  }

  .header-btn-burger-menu {
    display: none;
  }

  .header-refs {
    display: flex;
    gap: 16px;
  }

  .header-refs .active {
    color: var(--brand-color);
    font-weight: 500;
  }

  .header-ref {
    color: var(--main-text-dark-color);
    transition: var(--transition-timings);
    font-weight: 400;
    font-size: 12px;
  }

  .header-ref:is(:hover, :focus) {
    color: var(--brand-color);
  }
}
