.header {
  margin-top: 30px;
}

.header-nav {
  display: none;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-modal-item {
  color: var(--main-text-light-color);
  font-size: 12px;
  font-weight: 400;
}

.header-modal-item:is(:hover, :focus) {
  color: var(--dark-main-text-color);
  font-weight: 500;
}

.header-tastytreats {
  color: var(--main-text-dark-color);
  font-family: inherit;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: -0.64px;
}

.header-tasty {
  color: var(--brand-color);
}

.header-buttons {
  display: flex;
  gap: 18px;
  align-items: center;
}

.svg-shopping-cart:is(:hover, :focus) path {
  stroke: var(--brand-color);
  transition: var(--transition-timings);
}

.svg-burger-menu:hover path {
  stroke: var(--brand-color);
  transition: var(--transition-timings);
}

.header-btn-burger-menu:focus .svg-burger-menu path {
  stroke: var(--brand-color);
}

.header-btn-shopping-cart:focus-visible .svg-shopping-cart path {
  stroke: var(--brand-color);
}

.switch {
  display: none;
  position: relative;
  width: 46px;
  height: 20px;
}

.switch input {
  display: none;
  margin: 1px;
}

.slider {
  position: absolute;
  cursor: pointer;
  inset: 0;
  background-color: var(--switcher-color);
  transition: 0.4s;
}

.slider::before {
  position: absolute;
  content: '';
  height: 18px;
  width: 18px;
  left: 1px;
  bottom: 1px;
  background-color: var(--main-text-light-color);
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--brand-color);
  margin: 1px;
}

input:checked + .slider::before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round::before {
  border-radius: 50%;
}

.header-btn-close {
  margin-left: calc(100% - 53px);
  margin-top: 20px;
}

.svg-btn-close {
  stroke: var(--main-text-light-color);
}

.header-modal-list {
  margin-top: 97px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.switch-modal {
  display: inline-block;
  z-index: 999;
  position: absolute;
  bottom: 20px;
  left: 29px;
}

.active {
  color: var(--brand-color);
  font-weight: 500;
}

.dialog-modal {
  padding: 0;
  margin: 0;
  border: none;
  animation: var(--transition-timings);
  height: 100%;
  width: 50%;
  background-color: var(--brand-color);
  border-radius: 0;
}

.header-modal {
  position: relative;
  height: 100%;
}

.dialog-modal::backdrop {
  backdrop-filter: blur(7px) brightness(0.86) grayscale(28%) opacity(92%);
  transition: var(--transition-timings);
}

.switch-dialog {
  position: absolute;
  bottom: 20px;
  width: 46px;
  height: 20px;
  margin-left: 20px;
}

.switch-input {
  margin: inherit;
}

@media only screen and (width >= 768px) {
  .header-tastytreats {
    line-height: 111.111%;
    letter-spacing: -0.72px;
  }

  .slider {
    box-shadow: 10px 6px 8px var(--switcher-color);
  }

  input:checked + .slider::before {
    transform: translateX(26px);
    box-shadow: 6px 6px 14px var(--main-hero-img-color);
  }

  .switch {
    display: inline-block;
  }

  .header-nav {
    display: flex;
  }

  .header-btn-burger-menu {
    display: none;
  }

  .header-refs {
    display: flex;
    gap: 16px;
  }

  .header-ref {
    color: var(--main-text-dark-color);
    transition: var(--transition-timings);
    font-weight: 400;
    font-size: 12px;
  }

  .header-ref:is(:hover, :focus) {
    color: var(--brand-color);
  }
}
