.hero-section {
  padding-block: 90px 80px;
}

.hero-container {
  padding-inline-start: 20px;
}

.hero-info {
  padding-inline-end: 20px;
}

.hero-title {
  font-size: 26px;
  font-weight: 600;
  line-height: 120%;
  text-transform: uppercase;
  margin-block-end: 14px;
  max-width: 335px;
}

.hero-title > i {
  color: var(--brand-color);
  font-weight: 400;
}

.hero-desc {
  font-weight: 400;
  margin-block-end: 28px;
  max-width: 335px;
}

.hero-order-btn {
  line-height: normal;
  border-radius: 12px;
  padding: 10px 20px;
  border: 1px solid var(--brand-color);
  transition: var(--transition-timings);
  margin-block-end: 48px;
}

.hero-order-btn:is(:hover, :focus-visible) {
  color: var(--main-text-light-color);
  background-color: var(--brand-color);
}

.cooker-card {
  width: 280px;
  inline-size: 80px;
  background-position: 50%;
  background-size: cover;
  border-radius: 15px;
}

.cooker-heston-card {
  background-image: url('https://tasty-treats-backend.p.goit.global/HestonChan.webp');
}

.cooker-anna-card {
  background-image: url('https://tasty-treats-backend.p.goit.global/AnaSmyth.webp');
}

.cooker-ferran-card {
  background-image: url('https://tasty-treats-backend.p.goit.global/FerranMeyer.webp');
}

.topic-card {
  background-color: var(--main-text-dark-color);
  width: 200px;
  height: 280px;
  border-radius: 15px;
  border: 1px solid var(--border-main-color);
  position: relative;
  z-index: 1;
}

.topic-card::after {
  content: '';
  width: 150px;
  height: 137px;
  background-color: var(--brand-color);
  opacity: 0.6;
  filter: blur(81px);
  position: absolute;
  left: 12%;
  top: 14%;
  z-index: 2;
}

.card {
  block-size: 157px;
  height: 180px;
  background-size: cover;
  background-position: 50% 10px;
  background-repeat: no-repeat;
  margin-block-end: 20px;
  position: relative;
  z-index: 3;
}

.barbecue-card {
  background-image: url('https://tasty-treats-backend.p.goit.global/previewDish1.webp');
}

.pizza-card {
  background-image: url('https://tasty-treats-backend.p.goit.global/previewDish2.webp');
  background-position: 50% -4px;
}

.pancakes-card {
  background-image: url('https://tasty-treats-backend.p.goit.global/previewDish3.webp');
}

.dish-card {
  block-size: 280px;
  inline-size: 200px;
  background-position: 30%;
  background-size: 564px;
  border-radius: 15px;
}

.barbecue-dish {
  background-image: url('	https://tasty-treats-backend.p.goit.global/previewDish1.webp');
}

.pizza-dish {
  background-image: url('	https://tasty-treats-backend.p.goit.global/previewDish2.webp');
}

.pancakes-dish {
  background-image: url('	https://tasty-treats-backend.p.goit.global/previewDish3.webp');
  background-color: var(--main-text-dark-color);
}

.card-title {
  color: var(--main-hero-img-color);
  text-align: center;
  font-size: 10px;
  line-height: 140%;
  text-transform: uppercase;
  margin-block-end: 8px;
}

.pizza-title {
  margin-inline: auto;
  width: 144px;
}

.card-area {
  color: var(--secondary-hero-img-color);
  text-align: center;
  font-size: 8px;
  font-weight: 400;
  line-height: 150%;
}

.pag-list .pag-btn {
  background-color: var(--main-text-dark-color);
}

.pag-list .pag-btn.is-active {
  background-color: var(--brand-color);
}

.hero-section .pag-list {
  bottom: -30px;
  left: -10px;
}

.order-modal {
  width: 335px;
  padding: 20px;
  position: relative;
}

.modal {
  padding: 0;
  border: none;
  border-radius: 15px;
}

.modal::backdrop {
  backdrop-filter: blur(7px) brightness(0.86) grayscale(28%) opacity(92%);
}

.order {
  font-size: 18px;
  font-weight: 600;
  line-height: 122.222%;
  text-transform: uppercase;
  margin-block-end: 28px;
}

.btn-close {
  position: absolute;
  top: 14px;
  right: 14px;
  color: var(--brand-color);
}

.btn-close-icon {
  stroke: var(--main-text-dark-color);
  transition: var(--transition-timings);
}

.btn-close-icon:is(:hover) {
  stroke: currentcolor;
}

.btn-close:is(:focus-visible) .btn-close-icon {
  stroke: currentcolor;
}

.modal-label {
  display: block;
  color: var(--filters-main-color);
  margin-block-end: 16px;
}

.modal-label:last-of-type {
  margin-block-end: 40px;
}

.modal-input {
  border-radius: 15px;
  border: 1px solid rgba(5, 5, 5, 20%);
  width: 295px;
  height: 46px;
  margin-block-start: 8px;
  padding: 20px;
  font-size: 16px;
}

.comment-input {
  margin-block-start: 8px;
  resize: none;
  border-radius: 15px;
  width: 295px;
  height: 100px;
  border: 1px solid rgba(5, 5, 5, 20%);
  padding: 20px;
  font-size: 16px;
}

.modal-order-send {
  width: 295px;
  padding: 15px;
  border-radius: 15px;
  background: var(--brand-color);
  color: var(--main-text-light-color);
  transition: var(--transition-timings);
}

.just-validate-success-field {
  border: 1.3px solid var(--brand-color);
}

@media only screen and (width < 375px) {
  .hero-section .pag-list {
    left: -24px;
  }

  .modal-input {
    width: 97%;
  }

  .comment-input {
    width: 97%;
  }

  .modal-order-send {
    width: 97%;
  }
}

@media only screen and (width >= 768px) {
  .hero-container {
    padding-inline-start: 32px;
  }

  .hero-info {
    padding-inline-end: 0;
  }

  .hero-title {
    font-size: 36px;
    margin-block-end: 16px;
    max-width: 446px;
  }

  .hero-desc {
    font-size: 16px;
    line-height: 150%;
    max-width: 408px;
    margin-block-end: 32px;
  }

  .hero-order-btn {
    border-radius: 15px;
    padding: 14px 28px;
    margin-block-end: 64px;
  }

  .cooker-card {
    block-size: 442px;
    inline-size: 137px;
  }

  .topic-card {
    width: 351px;
    height: 442px;
  }

  .topic-card::after {
    width: 220px;
    height: 220px;
    left: 16%;
    top: 11%;
  }

  .card {
    block-size: 250px;
    height: 332px;
    background-position: 50% -13px;
    margin-bottom: 32px;
  }

  .barbecue-card {
    background-position: 50% 11px;
  }

  .dish-card {
    block-size: 442px;
    inline-size: 351px;
    background-color: var(--main-text-dark-color);
  }

  .pizza-dish {
    background-size: 700px;
  }

  .barbecue-dish {
    background-position: 44%;
    background-size: 700px;
  }

  .pancakes-dish {
    background-position: 31%;
    background-size: 700px;
  }

  .card-title {
    font-size: 14px;
    line-height: 128.571%;
  }

  .pizza-title {
    width: 259px;
  }

  .card-area {
    font-size: 14px;
    font-weight: 500;
    line-height: 128.571%;
  }

  .hero-section .pag-list {
    left: -45px;
  }

  .btn-close {
    top: 16px;
    right: 16px;
  }

  .btn-close-icon {
    width: 24px;
    height: 24px;
  }

  .order-modal {
    width: 440px;
    padding: 40px;
  }

  .order {
    margin-bottom: 40px;
  }

  .modal-label {
    margin-bottom: 16px;
  }

  .modal-input {
    width: 360px;
    height: 48px;
    font-size: 17px;
  }

  .comment-input {
    width: 360px;
    font-size: 17px;
  }

  .modal-order-send {
    width: 360px;
    padding: 14px;
  }
}

@media only screen and (width >= 1200px) {
  .hero-section {
    padding-block: 100px;
  }

  .hero-order-btn {
    margin-block-end: 0;
  }

  .hero-title {
    width: 446px;
  }

  .hero-container {
    display: flex;
    align-items: center;
    gap: 32px;
    padding-inline-start: 100px;
  }

  .hero-info {
    padding-right: 0;
  }

  .hero-section .pag-list {
    left: 287px;
  }

  .modal-label {
    margin-block-end: 18px;
  }
}

/* stylelint-disable-next-line selector-class-pattern */
.splide:not(.is-overflow) .splide__pagination {
  /* stylelint-disable-next-line declaration-no-important */
  display: block !important;
}
