@import url('node_modules/modern-normalize/modern-normalize.css');
@import url('./categories.css');
@import url('./favorites.css');
@import url('./filters.css');
@import url('./header.css');
@import url('./hero/hero.css');
@import url('./pop-recipes.css');
@import url('./recipes/recipes.css');
@import url('./pagination.css');
@import url('./reset.css');
@import url('./dark-theme.css');
@import url('./scroll-up.css');

:root {
  font-synthesis: none;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --main-text-dark-color: rgb(5, 5, 5);
  --main-text-light-color: rgb(248, 248, 248);
  --brand-color: rgb(155, 181, 55);
  --dark-bg-color: rgb(22, 22, 22);
  --dark-main-text-color: rgb(255, 255, 255);
  --switcher-color: rgb(206, 205, 205);
  --main-icon-color: rgb(217, 217, 217);
  --ingridients-secondary-color: rgba(5, 5, 5, 10%);
  --ingridients-main-border-color: rgba(5, 5, 5, 20%);
  --filters-secondary-color: rgba(5, 5, 5, 30%);
  --filters-main-color: rgba(5, 5, 5, 50%);
  --secondary-pop-recipes-color: rgba(5, 5, 5, 80%);
  --secondary-hero-img-color: rgb(248, 248, 248, 20%);
  --secondary-pag-img-color: rgb(248, 248, 248, 50%);
  --main-hero-img-color: rgb(248, 248, 248, 60%);
  --dark-secondary-hero-img-color: rgba(255, 255, 255, 20%);
  --dark-filters-secondary-color: rgba(255, 255, 255, 30%);
  --dark-filters-main-color: rgba(255, 255, 255, 50%);
  --dark-main-hero-img-color: rgba(255, 255, 255, 60%);
  --dark-secondary-text-color: rgba(255, 255, 255, 80%);
  --border-main-color: rgba(155, 181, 55, 30%);
  --transition-timings: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: Inter, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 128.571%;
  overscroll-behavior: none;
  color: var(--main-text-dark-color);
  background-color: var(--main-text-light-color);
}
