@import url('node_modules/modern-normalize/modern-normalize.css');
@import url('./categories.css');
@import url('./favorites.css');
@import url('./filters.css');
@import url('./header.css');
@import url('./hero.css');
@import url('./pop-recipes.css');
@import url('./recipes.css');
@import url('./pagination.css');
@import url('./reset.css');

:root {
  font-synthesis: none;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --main-text-dark-color: rgb(5, 5, 5);
  --main-text-light-color: rgb(248, 248, 248);
  --brand-color: rgb(155, 181, 55);
  --filters-main-color: color-mix(in srgb, var(--main-text-dark-color), transperent 50%);
  --filters-secondary-color: color-mix(in srgb, var(--main-text-dark-color), transperent 30%);
  --main-hero-img-color: color-mix(in srgb, var(--main-text-light-color), transperent 60%);
  --secondary-pag-img-color: color-mix(in srgb, var(--main-text-light-color), transperent 50%);
  --secondary-hero-img-color: color-mix(in srgb, var(--main-text-light-color), transperent 20%);
  --secondary-pop-recipes-color: color-mix(in srgb, var(--main-text-dark-color), transperent 80%);
  --dark-bg-color: rgb(22, 22, 22);
  --dark-main-text-color: rgb(255, 255, 255);
  --dark-filters-main-color: color-mix(in srgb, var(--dark-main-text-color), transperent 50%);
  --dark-filters-secondary-color: color-mix(in srgb, var(--dark-main-text-color), transperent 30%);
  --dark-secondary-text-color: color-mix(in srgb, var(--dark-main-text-color), transperent 80%);
  --dark-main-hero-img-color: color-mix(in srgb, var(--dark-main-text-color), transperent 60%);
  --dark-secondary-hero-img-color: color-mix(in srgb, var(--dark-main-text-color), transperent 20%);
  --transition-timings: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: Inter, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  background-color: var(--main-text-light-color);
  color: var(--main-text-dark-color);
  overscroll-behavior: none;
}
