.recipes-card {
  width: 335px;
  height: 335px;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-wrap: wrap;
  border-radius: 15px;
  padding: 214px 16px 16px;
  position: relative;
}

.wrapper-card {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.recipes-icon-svg {
  fill: var(--main-text-light-color);
  opacity: 0.1;
}

@media screen and (width >= 768px) {
  .recipes-card {
    width: 240px;
    height: 264px;
    padding-top: 143px;
  }

  .wrapper-card {
    gap: 16px;
  }

  .recipes-icon-svg {
    width: 16px;
    height: 16px;
  }
}

@media screen and (width >=1200px) {
  .recipes-card {
    width: 250px;
    height: 287px;
    padding-top: 166px;
  }

  .recipes-icon-svg {
    width: 18px;
    height: 18px;
  }

  .wrapper-card {
    gap: 32px 16px;
  }
}

.recipes-title {
  font-weight: 600;
  margin-bottom: 8px;
  color: var(--main-text-light-color);
}

.recipes-text {
  font-size: 12px;
  line-height: 1.33;
  color: var(--main-text-light-color);
  margin-bottom: 16px;
}

.recipes-text-rating {
  font-weight: 500;
  color: var(--main-text-light-color);
  margin-right: 4px;
}

@media screen and (width>= 768px) {
  .recipes-text-rating {
    margin-right: 2px;
  }
}

.button-recipes {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.2;
  color: var(--main-text-light-color);
  background-color: var(--brand-color);
  border-radius: 8px;
  padding: 8px 14px;
  margin-left: 98px;
}

@media screen and (width >=768px) {
  .button-recipes {
    margin-left: 23px;
    min-width: 89px;
  }
}

.rating {
  display: flex;
  align-items: center;
  justify-content: end;
}

.rating-wraper {
  display: flex;
  margin-left: auto;
}

.recipes-icon-heart {
  position: absolute;
  top: 16px;
  right: 16px;
}

.recipes-md {
  padding: 0;
  border: none;
  border-radius: 15px;
}

.recipes-md::backdrop {
  backdrop-filter: blur(7px) brightness(0.86) grayscale(28%) opacity(92%);
}

.recipes-modal-container {
  width: 531px;
  padding: 32px;
  position: relative;
}

.recipes-btn-close {
  position: absolute;
  top: 16px;
  right: 16px;
}

.recipes-btn-close-icon {
  stroke: var(--main-text-dark-color);
}

.recipes-modal-title {
  color: var(--main-text-dark-color);
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.recipe-video {
  display: inline-block;
  position: relative;
  width: 467px;
  height: 250px;
  margin-bottom: 16px;
}

.youtube-video {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  border-radius: 8px;
}

.recipes-btn-youtube {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.rating-container {
  display: flex;
  align-items: center;
  margin-bottom: 33px;
}

.rating-modal {
  margin-right: 6px;
}

.recipes-time {
  margin-left: 16px;
}

.recipes-ingridients {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 40px;
}

.ingridient {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.ingridient::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 1px;
  background-color: rgba(5, 5, 5, 10%);
  bottom: -6px;
}

.ingridient-number {
  margin-left: auto;
  color: rgba(5, 5, 5, 50%);
}

.recipes-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.recipe-tag {
  padding: 8px 16px;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 35px;
  border: 1px solid rgba(5, 5, 5, 20%);
}

.last-child:last-of-type {
  margin-bottom: 24px;
}

.recipe-desc {
  color: rgba(5, 5, 5, 80%);
  width: 295px;
  margin-bottom: 40px;
}

.favorites-btn {
  color: var(--main-text-light-color);
  line-height: normal;
  border-radius: 15px;
  background: var(--brand-color);
  padding: 12px 24px;
  margin-right: 14px;
}

.rating-btn {
  color: var(--main-text-dark-color);
  line-height: normal;
  padding: 12px 24px;
  border-radius: 15px;
  border: 1px solid var(--brand-color);
}

.recipes-icon-start {
  opacity: 0.1;
}

.recipes-icon-start.active {
  fill: rgb(238, 161, 12);
  opacity: 1;
}

/* @media only screen and (width >= 768px) {
  .recipes-modal-container {
    width: 531px;
    padding: 70px 32px 32px;
  }

  .recipes-btn-close {
    top: 16px;
    right: 16px;
  }

  .recipe-video {
    width: 467px;
    margin-bottom: 16px;
  }

  .recipes-modal-title {
    line-height: 22px;
    margin-bottom: 0;
    position: absolute;
    top: 32px;
  }

  .rating-container {
    margin-left: auto;
    margin-bottom: 38px;
  }

  .recipes-time {
    margin-left: 8px;
  }

  .recipes-tags {
    position: relative;
    top: -305px;
    gap: 4px;
  }
} */
