@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

button {
  cursor: pointer;
  background-color: transparent;
  padding: 0;
  border: none;
}

dialog {
  border: none;
  padding: 0;
  border-radius: 15px;
  overflow-x: hidden;
}

dialog:modal {
  outline: none;
}

dialog::backdrop {
  backdrop-filter: blur(7px) brightness(0.86) grayscale(28%) opacity(92%);
}

.container {
  min-width: 320px;
  max-width: 375px;
  margin-inline: auto;
  padding-inline: 20px;
}

.main-wrapper {
  overflow-x: hidden;
}

.main-sidebar-container {
  margin-bottom: 40px;
}

@media only screen and (width >= 768px) {
  .container {
    max-width: 768px;
    padding-inline: 32px;
  }

  .main-sidebar-container {
    display: flex;
    gap: 32px;
    margin-bottom: 64px;
  }

  .right-sidebar-container {
    display: flex;
    flex-direction: column;
    gap: 14px;
  }

  .sidebar-container {
    display: flex;
    flex-direction: column;
    gap: 64px;
  }
}

@media only screen and (width >= 1200px) {
  .container {
    max-width: 1080px;
    padding-inline: 26px;
  }

  .main-sidebar-container {
    gap: 64px;
  }
}
